table
{
	float: left;
	height:80%;
	width:80%;
	background: #EEEEEE;
}

th { background: lightblue;}

.flex-container{
	background: pink;
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	float: left;
	height: 100%;
	width: 80%;
}

.flex-row{
	flex-direction : row;
}

.flex-column{
	flex-direction : column;
}


.ship {
	background: pink;
}

.flex-body{
	background: lightgrey;
	flex:1;
	display:flex;
	flex-direction:row;
}

#stat
{
	background-color: lightgreen;
	float: right;
	height:80%;
	width:20%;
}

#stat h3
{
	text-align: center;
}

#stat p
{
	margin-left: 15px;
}

#div_chat
{
	float: right;
	width: 20%;
}
#div_chat #msg
{
	width: 85%;
}

#chat_ok
{
	width: 15%;
}

#foot
{
	width: 100%;
	height: 20%;
}